@media(max-width:767px){
    header .toggle{
        display: block;
    }

    header nav{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: aquamarine;
    }
    header nav ul{
        flex-direction: column;
    }
    header nav ul li{
        margin: 10px;
    }
}